/* CSS untuk halaman index.html */

*{
    background-color: white;
    margin: 0;
    padding: 0;
}

button{
    font-size: 40px;
}

h1{
    color: #ff0000;
    font-size: 50px;
    font-family: Arial;
    text-align: center;
}

.p1{
    color: #15ff00;
    font-size: 30px;
    font-family: Arial;
    text-align: left;
}

.bg-teal{
    background-color: teal;
}

p{
    color: #0000ff;
    font-size: 30px;
    font-family: Arial; 
    text-align: left;
}

#p3{
    color: yellow;
    background-color: black;
    font-size: 30px;
    font-family: Arial;
    text-align: left;
}

input[type=text]{
    background-color: tomato;
    font-size: 50px;
    font-family: Arial;
    text-align: left;
}

input[type=password]{
    background-color: rgb(0, 255, 98);
    font-size: 50px;
    font-family: Arial;
    text-align: left;
}

button:hover{
    background-color: yellowgreen;
    font-size: 40px;
    font-family: Arial;
}

h2::first-line{
    color: red;
    font-size: 40px;
}